In [4]:
li1 = [3, 15, 7, 9, 25]
li1.sort(reverse=True)
li1

[25, 15, 9, 7, 3]

In [6]:
li2 = [3, 15, 7, 9, 25]
new_li2 = sorted(li2)
new_li2

[3, 7, 9, 15, 25]

In [9]:
people = [
    {"name": "John", "age": 30},
    {"name": "Jane", "age": 25},
    {"name": "Dave", "age": 35}
]

def sort_key(value:dict)->int:
    return value['age']

new_people = sorted(people,key=sort_key,reverse=True)
new_people

[{'name': 'Dave', 'age': 35},
 {'name': 'John', 'age': 30},
 {'name': 'Jane', 'age': 25}]

In [11]:
people = [
    {"name": "John", "age": 30},
    {"name": "Jane", "age": 25},
    {"name": "Dave", "age": 35}
]


#lambda -> 暱名的function
new_people = sorted(people,key=lambda value:value['age'],reverse=True)
new_people

[{'name': 'Dave', 'age': 35},
 {'name': 'John', 'age': 30},
 {'name': 'Jane', 'age': 25}]

In [13]:
from datetime import datetime

now = datetime.now()
diff = now-datetime(2024,6,6)
diff.seconds

41320

In [1]:
#使用map()
def square(x):
    return f'我是第{x}元素'
numbers = [1, 2, 3, 4, 5]
str_list:list[str] = list(map(square,numbers))
print("\n".join(str_list))

我是第1元素
我是第2元素
我是第3元素
我是第4元素
我是第5元素